<!doctype html>
<html ng-app="bowlingApp">
  <head>
  	<link rel="stylesheet/less" type="text/css" href="styles.less" />
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <script src="less.js"></script>
  </head>
  <body>
    
    <div class="container" ng-controller="BowlingController as bowling">
    <h1>Apsis Bowling App</h1>
  	<h3>Score: {{bowling.score}}</h1>
      <form ng-submit="bowling.addFrame()">
        <input type="text" ng-model="bowling.first"  placeholder="Roll 1">
        <input type="text" ng-model="bowling.second" placeholder="Roll 2">
        <input type="text" ng-model="bowling.third" placeholder="Roll 3 (if last frame)" ng-disabled="bowling.frameCount < 9">
        <input class="btn btn-primary" type="submit" value="Add Score">
      </form>
    </div>
  </body>
</html>